#jonathan {
    z-index: 10;
}

.box{
/*position: relative;*/
	width:200px;
	height:200px;
	padding-left: 20px;
	padding-right: 20px;
	/*background-color: black;*/

}

.pixbox{
	position:absolute;
	width:160px;
	height:800px;
	padding-top: 55px;
	padding-left: 10px;

}

.hoverbox{
	position:absolute;
	width:200px;
	height:200px;
	z-index: 5;
    cursor: pointer;
}


.pix{
	position: relative;
	float: left;
	width:10px;
	height:10px;
	

	

}

.img{
	max-width:100%; max-height:100%;
}

.rotated {
  transform: rotate(45deg);
  -ms-transform: rotate(45deg); /* IE 9 */
  -moz-transform: rotate(45deg); /* Firefox */
  -webkit-transform: rotate(45deg); /* Safari and Chrome */
  -o-transform: rotate(45deg); /* Opera */
}

.container{
	width:800px;
	height:800px;
	/*background-color: #E8E8E8;*/
}